<?php

/**
 * StevoTVRBot. Supplies a custom API for the StreamElements chat bot on the
 * StevoTVR Twitch channel.
 *
 * @copyright (c) 2019, Steve Guidetti, https://github.com/stevotvr
 * @license https://github.com/stevotvr/stevotvrbot/blob/master/LICENSE MIT License
 */

namespace StevoTVRBot;

/**
 * App configuration.
 */
class Config
{
	/**
	 * The base URL for the site.
	 */
	const BASE_URL = '';

	/**
	 * MySQL host.
	 */
	const DBHOST = '';

	/**
	 * MySQL user.
	 */
	const DBUSER = '';

	/**
	 * MySQL user password.
	 */
	const DBPASS = '';

	/**
	 * MySQL database name.
	 */
	const DBNAME = '';

	/**
	 * The time zone to use.
	 */
	const TIMEZONE = '';

	/**
	 * The secret for API requests.
	 */
	const SECRET = '';

	/**
	 * The Twitch application ID.
	 */
	const TWITCH_APP_ID = '';

	/**
	 * The Twitch application secret.
	 */
	const TWITCH_APP_SECRET = '';

	/**
	 * The StreamElements channel ID.
	 */
	const SE_CHANNEL_ID = '';

	/**
	 * The JWT token for authorizing StreamElements requests.
	 */
	const SE_JWT_TOKEN = '';
}
