* {
	margin: 0;
}

body {
	background: #180131;
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

a:link, a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

section {
	margin: 10px;
}

table {
	width: 100%;
}

tr:nth-child(even) td {
	background: #0E001D;
}

th {
	text-align: left;
}

th, td {
	padding: 6px;
}

#site-nav {
	background: #090015;
	display: block;
	height: 30px;
	padding: 8px;
}

#site-nav img, #site-nav ul, #site-nav li {
	float: left;
}

#site-nav h1 {
	float: right;
	line-height: 30px;
}

#site-nav ul {
	list-style: none;
	padding-left: 10px;
}

#site-nav li a {
	display: block;
	font-size: 18px;
	line-height: 30px;
	margin: -8px 0;
	padding: 10px;
}

.main > section {
	background: #1A0A2D;
	border: 2px solid #DDD;
	border-radius: 6px;
	margin: 10px 0;
	padding: 6px;
}

.main > section footer {
	clear: both;
}

#schedule th {
	width: 100px;
}

#schedule th:last-child {
	width: auto;
}

#commands th:first-child {
	width: 300px;
}

#inventory h3, #recipes h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 190px;
}

#inventory ul, #recipes section > ul, #store ul {
	margin-top: 6px;
	padding: 0px;
}

#inventory li, #recipes section > ul > li, #store li {
	background: #0E001D;
	border: 2px solid #CCC;
	border-radius: 4px;
	float: left;
	list-style: none;
	margin: 1px;
	padding: 10px;
	width: 200px;
}

#inventory dt, #inventory dd, #store dt, #store dd {
	display: inline;
}
